img {
  opacity: 0.8;
}

h1 {
font-size: 80px;
margin-top: 0px;
margin-bottom: 30px;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family:'Arial Narrow Bold', sans-serif;
}
.result_text {
  color: red;
}

#restart {
  text-decoration: none;
  color:darkred;
}

#rock {
  background-color: rgb(154, 153, 153);
  border-radius: 10px;
}

#paper {
  background-color: white;
  border-radius: 10px;
}

#scissors {
  background-color: aquamarine;
  border-radius: 10px;
}

#rockh1 {
  color: rgb(154, 153, 153);
}

#paperh1 {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


#scissorsh1 {
  color: aquamarine;
}

body {
  background-image: url('RPS.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(48, 47, 47, 0.761);
  z-index: -1;
}
