h1 {
color:green;
font-size: 80px;
margin-top: 0px;
margin-bottom: 30px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family:'Arial Narrow Bold', sans-serif;
}
.result_text {
  color: red;
}

#restart {
  text-decoration: none;
  color:darkred;
}
