h1 {
color:green;
font-size: 80px;
margin-top: 0px;
margin-bottom: 30px;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family:'Arial Narrow Bold', sans-serif;
}
.result_text {
  color: red;
}

#restart {
  text-decoration: none;
  color:darkred;
}

#rock {
  background-color: grey;
  border-radius: 10px;
}

#paper {
  background-color: white;
  border-radius: 10px;
}

#scissors {
  background-color: aquamarine;
  border-radius: 10px;
}

#rockh1 {
  color: grey;
}

#paperh1 {
  color: white;
}

#scissorsh1 {
  color: aquamarine;
}
